extends layout

block content
    div.container
        h1 Királyságok
        div.type-btns
            a.btn(href="/lands", class="#{mapType === 'lands' ? 'selected' : ''}") Területek
            a.btn(href="/ruins", class="#{mapType === 'ruins' ? 'selected' : ''}") Romok
        div.type-btns
            - for(l=1; l<=6; l++)
                a.btn.small(href="?level=#{l}", class="#{query.level == l ? 'selected' : ''}")=l
        table.kingdoms(cellpadding=3, cellspacing=0, class="#{mapType}")
            tr.x
                td
                - for (j=1; j<=73; j++)
                    td(class = "x-"+j)
                        div=j
            - for (i=1; i<=22; i++)
                tr
                    td(class = "y-"+i)
                        div=i
                    - for (j=1; j<=73; j++)
                        - var key = j + '-' + i;
                        if kingdomCounts.get(key)
                            - var count = kingdomCounts.get(key).count
                        else
                            - var count = 0
                        td.kingdom(data-x=j, data-y=i, data-count=count)
                            a(href="/#{mapType}/" + j + "/" + i + "#{query.level ? '?outline=' + query.level : ''}")
                            div.info-bar(style="display: none")
                                div="X: " + j
                                div="Y: " + i
                                div="Össz: " + count
                                <div class='arrow'>
            