extends layout

block content
    div.container
        h1 Királyságok
        div.type-btns
            a.btn(href="#{makeUrlWithQuery('/lands')}", class="#{mapType === 'lands' ? 'selected' : ''}") Területek
            a.btn(href="#{makeUrlWithQuery('/ruins')}", class="#{mapType === 'ruins' ? 'selected' : ''}") Romok
        div.type-btns
            - var maxL = mapType == 'lands' ? 5 : 6;
            - for(l=1; l<=maxL; l++)
                a.btn.small(href="#{makeUrlWithQuery('level', l)}", class="#{query.level == l ? 'selected' : ''}")=l
        if mapType == 'lands'
            div(class="type-btns")
                a.btn(class="#{query.type == 'MOUNTAINS' ? 'selected' : ''}", href="#{makeUrlWithQuery('type', 'MOUNTAINS')}") Hegyek
                a.btn(class="#{query.type == 'HOLY LAND' ? 'selected' : ''}", href="#{makeUrlWithQuery('type', 'HOLY LAND')}") Szent föld
                a.btn(class="#{query.type == 'FOREST' ? 'selected' : ''}", href="#{makeUrlWithQuery('type', 'FOREST')}") Erdő
                a.btn(class="#{query.type == 'DESERT' ? 'selected' : ''}", href="#{makeUrlWithQuery('type', 'DESERT')}") Sivatag
                a.btn(class="#{query.type == 'PRAIRIE' ? 'selected' : ''}", href="#{makeUrlWithQuery('type', 'PRAIRIE')}") Puszta
                a.btn(class="#{query.type == 'CURSED FOREST' ? 'selected' : ''}", href="#{makeUrlWithQuery('type', 'CURSED FOREST')}") Elátkozott erdő
                a.btn(class="#{query.type == 'MAGICAL FOREST' ? 'selected' : ''}", href="#{makeUrlWithQuery('type', 'MAGICAL FOREST')}") Varázs erdő
                a.btn(class="#{query.type == 'DEAD LAND' ? 'selected' : ''}", href="#{makeUrlWithQuery('type', 'DEAD LAND')}") Halott föld
        table.map(cellpadding=3, cellspacing=0, class="#{mapType}")
            tr.x
                td
                - for (j=1; j<=73; j++)
                    td(class = "x-"+j)
                        div=j
            - for (i=1; i<=22; i++)
                tr
                    td(class = "y-"+i)
                        div=i
                    - for (j=1; j<=73; j++)
                        - var key = j + '-' + i;
                        if kingdomCounts.get(key)
                            - var count = kingdomCounts.get(key).count
                        else
                            - var count = 0
                        td.kingdom(data-x=j, data-y=i, data-count=count)
                            div.cell-container
                                a(href="#{makeUrlWithQuery('/' + mapType + '/' + j + '/' + i)}")
                                div.info-bar(style="display: none")
                                    div="X: " + j
                                    div="Y: " + i
                                    div="Össz: " + count
                                    <div class='arrow'>
            